<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simsim.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.simsim.modules.member.Member"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.seq
		    ,a.nickname
		    ,a.dob
		    ,b.codeNameKor
		    ,a.phoneAgency
		    ,a.phoneNum
		    ,a.email
		    ,a.emailInsert
		    ,a.emailDomain
		    ,a.id
		    ,a.password
		    ,a.datetime
		    ,a.delNy
		FROM jsMember a 
		inner join code b on b.codeAnother = a.gender
		WHERE 1=1
	</select>

</mapper>