<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simsim.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.simsim.modules.code.Code"></resultMap>
	
	<sql id="selectCommon">
		FROM codeGroup a
		inner join code b on b.codeGroup_seq = a.seq
		WHERE 1=1
			<if test="shuseNy != 9">AND b.useNy = #{shuseNy}</if>
			<choose>
				<when test="shOption ==1">AND codeGroupCode = #{shValue}</when>
				<when test="shOption ==2">AND codeGroupNameKor LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption ==3">AND codeGroupNameEng LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption ==4">AND codeNameKor LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption ==5">AND codeNameEng LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT
			count(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql"></include>
			SELECT
				b.seq
				,a.seq as codeGroup_seq
				,a.codeGroupCode,
			    a.codeGroupNameKor,
			    a.codeGroupNameEng,
			    b.codeAnother,
			    b.codeNameKor
			    ,b.codeNameEng
			    ,b.useNy
			    ,b.turn
			<include refid="selectCommon"></include>
			ORDER BY b.seq DESC
			<include refid="Base.orderByLimitForMysql"></include>
		<include refid="Base.selectListLowerForMysql"></include>
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.codeGroup_seq
			,b.codeGroupNameKor
			,b.codeGroupCode
			,a.seq
		    ,a.codeAnother
		    ,a.codeNameKor
		    ,a.codeNameEng
		    ,a.useNy
		    ,a.turn
		    ,a.content
		    ,a.delNy
		    ,a.varcharType1
		    ,a.varcharType2
		    ,a.varcharType3
		    ,a.intType1
		    ,a.intType2
		    ,a.intType3
		    ,a.registerDateTime
		    ,a.modifyDateTime
		FROM code a
		inner join codeGroup b on a.codeGroup_seq = b.seq
		WHERE 1=1
			AND a.seq = #{seq}
	</select>

	<!-- 데이터 중복 체크용 S -->
	<select id="selectOneCodeCheck" resultType="Integer">
		SELECT
			COUNT(codeAnother)
		FROM code a
		WHERE 1=1
			AND a.codeAnother = #{codeAnother}
	</select>
	<!-- 데이터 중복 체크용 E -->
	<insert id="insert">
		INSERT INTO code (
			codeGroup_seq
		    ,codeAnother
		    ,codeNameKor
		    ,codeNameEng
		    ,useNy
		    ,turn
		    ,content
		    ,delNy
		    ,varcharType1
		    ,varcharType2
		    ,varcharType3
		    ,intType1
		    ,intType2
		    ,intType3
		    ,registerDateTime
		    ,modifyDateTime
		)
		values(
			#{codeGroup_seq}
			,#{codeAnother}
			,#{codeNameKor}
			,#{codeNameEng}
			,#{useNy}
			,#{turn}
			,#{content}
			,0
			,#{varcharType1}
			,#{varcharType2}
			,#{varcharType3}
			,#{intType1}
			,#{intType2}
			,#{intType3}
			,#{registerDateTime}
			,#{modifyDateTime}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE code
		SET
		    codeAnother = #{codeAnother}
		    ,codeNameKor = #{codeNameKor}
		    ,codeNameEng = #{codeNameEng}
		    ,useNy = #{useNy}
		    ,turn = #{turn}
		    ,content = #{content}
		    ,delNy = #{delNy}
		    ,varcharType1 = #{varcharType1}
		    ,varcharType2 = #{varcharType2}
		    ,varcharType3 = #{varcharType3}
		    ,intType1 = #{intType1}
		    ,intType2 = #{intType2}
		    ,intType3 = #{intType3}
		    ,registerDateTime = #{registerDateTime}
		    ,modifyDateTime = #{modifyDateTime}
		WHERE 1=1
			AND seq= #{seq}
	</update>
	
	<update id="velete">
		UPDATE code
		SET
			useNy = 0
			,delNy = 1
		WHERE 1=1
			AND seq = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM code WHERE seq=#{seq}
	</delete>
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			codeAnother
			, codeNameKor
			, codeGroup_seq
		FROM
			code
		WHERE 1=1
			AND delNy = 0
		    AND useNy = 1
    </select>
	
</mapper>