<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simsim.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.simsim.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			b.seq,
			a.codeGroupCode,
		    a.codeGroupNameKor,
		    a.codeGroupNameEng,
		    b.codeAnother,
		    b.codeNameKor
		    ,b.codeNameEng
		    ,b.useNy
		    ,b.turn
		FROM codeGroup a
		inner join code b on b.codeGroup_seq = a.seq AND a.seq =1000
	</select>

</mapper>